.dt-body-center{
    text-align: center;
}

.hide{
    display: none; !important;
}


.warn{
    color: #ff0000;
}

/*


@media screen and (min-width: 768px) {
    .dropdown:hover .dropdown-menu, .btn-group:hover .dropdown-menu{
        display: block;
    }
    .dropdown-menu{
        margin-top: 0;
    }

    .dropdown-toggle{
        margin-bottom: 2px;
    }
    .navbar .dropdown-toggle, .nav-tabs .dropdown-toggle{
        margin-bottom: 0;
    }
}
*/

.status-badge-danger {
  background-color: #C02020;
}

.status-badge {
    display: inline-block;
    padding: 0px 5px;
    margin: 0 0.5em;
    font-size: 11px;
    font-family: arial;
    text-transform: uppercase;
    line-height: 1.6;
    color: #FFFFFF;
}


 .dragger {
     cursor: move;
     background: url(../../assets/images/dragger.png) 1px 11px no-repeat;
 }

/**
    Overwrite bold font on label in admin lte 3.0
 */
label {
    font-weight: normal !important;
}

.error {
    color: rgba(255, 23, 18, 0.75) !important;
}


.ta-r{
    text-align: right !important;
}

.ta-l{
    text-align: left !important;
}


.ta-c{
    text-align: center !important;
}

.ta-t{
    vertical-align: top !important;
}


.ta-m{
    vertical-align: middle !important;
}

.ta-b{
    vertical-align: bottom !important;
}
